*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
}

body{
    background-color: rgba(165, 42, 42, 0.556);
}

form{
    display: flex;
}



